.gradeVizUi { display : table;
			}
.buttonsAndTime { display : table-row;
				}
.playerButtonGroup { display : table-cell;
                     margin-left : 100px;
                     background : rgba(166,137,59,0.5);  /* Light tan */
                     border-style : groove;
                   }

.playerButton { 
		height: 60px;
		width: 60px;
		border: none;
		cursor: pointer;
		background-color : rgba(166,137,59,0.0);  /* transparent */
		margin-left : 10px;
	      }
	      
/* Avoid the blue outline when clicked: */	      
.playerButton:focus { outline : none; }

#playButton { background-image : url("img/playButtonTan60x60.png"); }
#pauseButton { background-image : url("img/pauseButtonTan60x60.png"); }
#fbackButton { background-image : url("img/fastBackwardButtonTan60.png"); }
#stopButton { background-image : url("img/stopButtonTan60x60.png"); }

.clock {
	     vertical-align : top;
	     horizontal-align: left;
		 font-size : 24px;
		 text-align : center;
		 background-color : none;
		 opacity : 0.50;
	 }

.chartLegendAndSubscribeBtns { display : table-row; }	 
.chart { display : table-cell;
		 width : 50%; 
	 	 margin : auto;
       }

.gradechart { border-style : solid;
		      border-width : 1px;
		      background-color : rgba(166,137,59,0.3);  /* Light tan */ 
	    }
.gradebar { fill : teal; }
.axis path,
.axis line { fill : none;
	    	 stroke : black;
	     	 shape-rendering : crispEdges;
	   		}
.axis text { font-family : sans-serif;
	     	 font-size : 11px;
	   	   }
	   
.localMeanLine {stroke-width : 3px;
				stroke : LightBlue;
			   }
			   
.gotItLine     {stroke-width : 3px;
				stroke : LightCoral;
			   }
			   
.globalMeanLine {stroke-width : 3px;
				stroke : white;
			    }

.emptyCell { display : table-cell; }

.legendDiv { display : table-cell;
		     vertical-align : top;
		     horizontal-align : center;
		     padding-left : 10px;
		     padding-top  : 10px;
			 width        : 175px;
		   }

/* Background color of the legend box: */
.mutLegendBG    { fill : rgba(166,137,59,0.3);  /* Light tan */
				}

.subscribeGrp { /* **** display : table-cell; */ 
			    vertical-align : top;
			  }
.listSourcesBtn {
		         width : 30%;
		         margin : 2px;
		         margin-left : 12px;
  				 box-sizing : border-box;
  				 background : rgb(166,137,59);  /* Dark brown */
  				 color : white;
				}			  
/* Avoid the blue outline when clicked: */	      
.listSourcesBtn:focus { outline : none; }
				
.subscriptionBtn { width : 30%;
  				   margin : 2px;
		           margin-left : 12px;
  				   box-sizing : border-box;
  				   background : rgba(166,137,59,0.3);  /* Light tan */
				  }			  
/* Avoid the blue outline when clicked: */	      
.subscriptionBtn:focus { outline : none; } 
.subscriptionBtn.active { background: teal; }

/* Tooltip for when user clicks a gradebar: */
.tooltip { position : absolute;
           background : rgb(194,224,176);         /* Light Green */
		   width : auto;                          /* Expand to text width */
		   height : auto;
		   padding : 8px;
		   border-radius : 8px;
		   /* box-shadow: 5px 5px 5px #888888; */ /* Soft drop shadow*/
		   box-shadow: 0px 0px 3pt 1pt black;     /* Simulated outline but hugging the shape */
	 }

/* Tooltip for when user brushes over a gradebar: */
.brushTooltip {position : absolute;
               background : rgb(156,207,130);    /*  Light green */
	       color : black;         		 /* Text color */
	       min-height : 1.25em;   		 /* A bit higher than one line */
	       padding : 8px;
	       pointer-events: none;
	       outline : black solid 2px;
	      }

/* The problem-parts-specific table in tooltips: */

.probCorrectTbl             { margin : auto;
			      margin-top : 5px;
			    }
.probCorrectTbl, th, td     { border : 1px solid teal;
			      border-collapse : collapse;
			      padding : 5px;
			    }

