.chart { width : 90%; 
	 margin : auto;
       }

.gradechart { border-style : solid;
	      border-width : 1px;
	      background-color : rgba(166,137,59,0.3);  /* Light tan */ 
	    }
.gradebar { fill : teal; }
.axis path,
.axis line { fill : none;
	    	 stroke : black;
	     	 shape-rendering : crispEdges;
	   		}
.axis text { font-family : sans-serif;
	     	 font-size : 11px;
	   	   }
	   
.localMeanLine {stroke-width : 3px;
				stroke : LightCoral;
			   }
			   
.globalMeanLine {stroke-width : 3px;
				stroke : LightBlue;
			   }

.clock { font-size : 24px;
	 text-align : center;
	 margin-left : 200px;
	 background-color : none;
	 opacity : 0.50;
	 }

.playerButtonGroup {
                     margin-left : 100px;
                   }

.playerButton { 
		height: 60px;
		width: 60px;
		border: none;
		cursor: pointer;
		background-color : white;
		margin-left : 10px;
	      }
.playerButton:focus { outline : none; }

#playButton { background-image : url("img/playButtonTan60x60.png"); }
#pauseButton { background-image : url("img/pauseButtonTan60x60.png"); }
#stopButton { background-image : url("img/stopButtonTan60x60.png"); }

/* Tooltip for when user clicks a gradebar: */
.tooltip { position : absolute;
           /* background : rgba(166,137,59,0.3);*/  /* Light tan */
	   background : rgb(166,137,59);
	   width : auto;                          /* Expand to text width */
	   height : auto;
	   padding : 8px;
	   border-radius : 8px;
	   /* box-shadow: 5px 5px 5px #888888; */ /* Soft drop shadow*/
	   box-shadow: 0px 0px 3pt 1pt black;     /* Simulated outline but hugging the shape */
	 }

/* Tooltip for when user brushes over a gradebar: */
.brushTooltip {position : absolute;
               background : rgb(156,207,130);    /*  Light green */
	       color : black;         		 /* Text color */
	       min-height : 1.25em;   		 /* A bit higher than one line */
	       padding : 8px;
	       pointer-events: none;
	       outline : black solid 2px;
	      }